[submodule "libs/matcher/mast3r"]
	path = libs/matcher/mast3r
	url = https://github.com/naver/mast3r.git
[submodule "libs/control/visualnav_transformer"]
	path = libs/control/visualnav_transformer
	url = git@github.com:utkrshm/visualnav-transformer.git
